.work-window {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.work-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-block: 2em;
  background-color: rgb(49, 49, 49);
  border-radius: 1em;
  width: 80%
}

.work-section > #view-section{
  display: flex;
  justify-content: center;
  align-items: center;
  border-style: solid;
  border-width: 2.5px; 
  border-color: rgb(85, 85, 85); 
  width: 120px;
  height: 120px; 
}

button {
  background: #155aae;color:#fff;border:none;padding:8px 15px;cursor:pointer;font-size:14px; margin: 0.5em;
}

input {
  background: #155aae;color:#fff;border:#064796; border-style: solid;padding:8px 15px;cursor:pointer;font-size:14px
}

#view-section > img {
  background-color: black;
}

.set-data-items {
 margin: 10px;
 padding: 5px;
}

.set-data-items > .set-data-item {
  margin: 5px;
  padding: 2.5px;
}

.stop-gradient {
  width: 0.5em;
  height: 0.5em;
  display: block;
  padding: 0.5em;
  margin: 0.5em;
}

.gradient-segtings-window {
  display: flex;
  flex-direction: row;
  position: absolute;
  background-color: #2276dd;
  z-index: 1;
  justify-content: center;
  align-items: center;
  top: 5em;
  padding: 1em;
  border-radius: 1em;
}

.gradient-segtings {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
}

.gradient-segtings > .head-gradient-segtings {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.types-gradient {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1em;
}

.types-gradient > .type-gradient-items, .type-gradient-items > .type-gradient {
  display: flex;
  flex-direction: row;
}

.style-gradient {
  display: none;
  flex-direction: column;
}

@media (max-width: 600px){
  .gradient-segtings > .head-gradient-segtings {
    flex-direction: column;
  }
}